<div class="dashboard-container p-4">
    <header class="mb-4">
        <h1>Bem-vindo, {{ profile?.full_name }}</h1>
        <span class="badge bg-info">{{ user?.role }}</span>
    </header>

    <div class="grid gap-4">
        <div class="role-selector">
            <ul class="nav nav-tabs g-3">
                <li class="nav-item col-3">
                    <a class="nav-link role-option" [class.active]="selectedRole === 'status'" (click)="selectedRole = 'status'"><i class="fa fa-desktop"></i> Situação</a>
                </li>
                <li class="nav-item col-3">
                    <a class="nav-link role-option" [class.active]="selectedRole === 'shipments'" (click)="selectedRole = 'shipments'"><i class="fa fa-diamond"></i> Pacotes e Serviços</a>
                </li>
                <li class="nav-item col-3">
                    <a class="nav-link role-option" [class.active]="selectedRole === 'opportunities'" (click)="selectedRole = 'opportunities'"><i class="fa fa-credit-card"></i> Faturas</a>
                </li>
                <li class="nav-item col-3">
                    <a class="nav-link role-option" [class.active]="selectedRole === 'management'" (click)="selectedRole = 'management'"><i class="fa fa-sliders"></i> Configurações</a>
                </li>
                
            </ul>
        </div>
    @switch (profile?.role) {
        @case ('ADMIN') {

            @if (selectedRole === 'status') {
            <div class="tab-pane fade active show">
                <div class="d-flex gap-4 mb-4">                    
                    <rd-ctrl-panel-recent></rd-ctrl-panel-recent>
                </div>
            </div>
            }
        }
        @case ('CLIENT') {

            @if (selectedRole === 'status') {
            <div class="tab-pane fade active show">
                <div class="d-flex gap-4 mb-4">                    
                    <rd-ctrl-panel-recent></rd-ctrl-panel-recent>
                </div>
            </div>
            }
        }
        @case ('CARRIER') {
            
            @if (selectedRole === 'status') {
            <div class="tab-pane fade active show">
                <div class="d-flex gap-4 mb-4">                    
                    <rd-ctrl-panel-recent></rd-ctrl-panel-recent>
                </div>
            </div>
            }
        }
    }
  </div>